---
title: Chi siamo
heading: 'Chi siamo'
lead: Da oltre trent'anni ci prendiamo cura dei nostri clienti.
---
{{> header }}

<article class="chi-siamo content">
    <div class="chi-siamo__inner chi-siamo__inner--text">
        <section class="blurb">
            <h1 class="blurb__title section-title">
                Chi siamo
            </h1>
            <p class="blurb__text">
                Per l’esercizio della sua attività lo studio si avvale di personale dipendente,regolarmente iscritto alle forme di previdenza obbligatoria, che è in forza da molti anni e che è stato formato direttamente dal titolare. Si avvale inoltre dell’opera di giovani praticanti con i quali ha in animo di instaurare un rapporto continuativo per garantire il necessario ricambio generazionale.
            </p>
        </section>
        
        <section class="members">
        <h2 class="members__title">In studio:</h2>
            <ul class="members__list vertical-nav">
                <li class="member vertical-nav__item"><a href="#" class="member__link member__link--active vertical-nav__link">Roberta D’Achille</a></li>
                <li class="member vertical-nav__item"><a href="#" class="member__link vertical-nav__link">Angela Stangoni</a></li>
                <li class="member vertical-nav__item"><a href="#" class="member__link vertical-nav__link">Lorenzo Faustini</a></li>
                <li class="member vertical-nav__item"><a href="#" class="member__link vertical-nav__link">Carlotta Cantuti Castelvetri</a></li>
            </ul>
        </section>
    </div>
    <div class="chi-siamo__inner chi-siamo__inner--img">
        <img src="assets/images/mora.jpg" alt="Studio Faustini" class="chi-siamo__img">
    </div>
</article>

{{> footer }}
