---
title: I nostri Clienti
heading: 'I nostri clienti'
lead: Da oltre trent'anni ci prendiamo cura dei nostri clienti.
---
{{> header }}

<article class="clienti content">
    <h1 class="clienti__title section-title">I nostri clienti</h1>
    <p class="clienti__text">
        Studio Faustini opera nel settore societario, contabile, fiscale, tributario e della revisione da oltre trent'anni, in italiano, francese ed inglese.
    </p>    
    <p class="clienti__text">
        Nel corso della sua attività ha assistito numerose imprese, nazionali ed estere, nei vari settori di attività professionale. È convenzionato con le autorità fiscali italiane ed abilitato all’utilizzo del canale telematico Entratel per la trasmissione degli atti di natura fiscale e per il versamento delle imposte.
    </p>
</article>

{{> footer }}
