.content {
    @extend .clearfix;
    margin-bottom:2rem;
    overflow: hidden;
    @media #{$large-up} {
        margin-bottom:0;
        margin-left:15rem;
        height:100vh;
    }
}

.blurb {
    @include grid-column(
        $columns:12
        );
    text-align: center;
    @extend .punto;
    @media #{$large-up} {
        padding:2rem;
    }
}