<footer class="footer clearfix">
    <ul class="vcard vcard--footer">
      <li class="street-address">Via Filippo Clivinni 111</li>
      <li class="locality">Quartiere Parioli</li>
      <li><span class="city">Roma</span>, <span class="state">RM</span> <span class="zip">00100</span></li>
      <li class="phone">+39 06 355 01 028</li>
      <li class="email"><a class="vcard__link" href="mailto:info@studiofaustini.it">info@studiofaustini.it</a></li>
    </ul>
</footer>