<header class="header" role="banner">
    {{!-- <article class="logo">
        <h1 class="logo__heading">
            Studio<br>Faustini<br>      
            <span class="logo__subheader">
                Commercialisti
            </span>
        </h1>
    </article> --}}
    <a href="/" class="logo-img__link">
      <img class="logo-img" src="assets/images/faustini.png" alt="Faustini Logo">
    </a>
    <nav class="navigation" role="navigation">
        <ul class="nav">
            <li class="nav__item"><a href="/chi-siamo.html" class="nav__link">Chi siamo</a></li>
            <li class="nav__item"><a href="/punti-di-forza.html" class="nav__link">Punti di forza</a></li>
            <li class="nav__item"><a href="/i-nostri-clienti.html" class="nav__link">I nostri clienti</a></li>
        </ul>
    </nav>

    <ul class="vcard vcard--header">
      <li class="street-address">Via Filippo Clivinni 111</li>
      <li class="locality">Quartiere Parioli</li>
      <li><span class="city">Roma</span>, <span class="state">RM</span> <span class="zip">00100</span></li>
      <li class="phone">+39 06 355 01 028</li>
      <li class="email"><a class="vcard__link" href="mailto:info@studiofaustini.it">info@studiofaustini.it</a></li>
    </ul>

</header>