<div class="home">
    {{!-- <div class="home-bg" data-interchange="[assets/images/gruppo.jpg, (default)], [assets/images/gruppo-large.jpg, (large)]"></div> --}}
    <div class="home-bg" style="background-image:url('assets/images/gruppo.jpg');"></div>
    <h2 class="home__tagline">
        Da oltre trent'anni ci prendiamo cura dei nostri&nbsp;clienti.
    </h2>
</div>

