
<div class="pdf__inner punti__bg" data-interchange="[assets/images/faustini.jpg, (default)], [assets/images/faustini2.jpg, (large)]"></div>


<article class="punti pdf__inner">
    <h1 class="punti__title section-title">Punti di forza</h1>
    <section class="punto">
        <h2 class="punto__title">Correttezza e trasparenza</h2>
        <p class="punto__text">
            La correttezza e trasparenza con le quali lo studio impronta i suoi rapporti nei confronti delle autorità fiscali è testimoniata dal fatto che negli ultimi quindici anni, tra le circa 120 posizioni gestite, solo quattro Clienti hanno subito controlli fiscali di natura sostanziale; tutti conclusisi senza rilievi in sede di verbale o in via amministrativa o in via contenziosa con sentenze passate in giudicato.
        </p>
            <hr>

    </section>


    <section class="punto">
        <h2 class="punto__title">Relazioni con i clienti</h2>
        <p class="punto__text">
            Le relazioni dello studio con i propri Clienti sono sempre state caratterizzate dalla prevalenza del rapporto personale con il titolare ed alla reciproca fiducia. In molti casi la Clientela si avvale dei suoi servizi da oltre trent’anni.
        </p>
        <hr>
    </section>

     <section class="punto">
        <h2 class="punto__title">Assicurazione</h2>
        <p class="punto__text">
            E' da sempre dotato di copertura assicurativa, con primaria compagnia, in relazione ai rischi rivenienti dall'esercizio della professione. Nel corso della sua ultra trentennale attività, lo studio non ha mai dovuto azionare la copertura assicurativa per rischi rivenienti dall'esercizio della professione, non ha mai instaurato né subito contenziosi legali con la propria Clientela, non ha mai subito cause di lavoro attivate dai propri dipendenti e collaboratori, non è mai stato oggetto di sanzioni disciplinari o richiami da parte del Consiglio dell'Ordine di appartenenza.
        </p>
            <hr>

    </section>

    <section class="punto">
        <h2 class="punto__title">Contenzioso Tributario</h2>
        <p class="punto__text">
            Nei lunghi anni di attività lo studio ha particolarmente sviluppato questo settore gestendo molte decine di pratiche contenziose ed ottenendo riscontri molto positivi sia dai Clienti assistiti che – e diremmo soprattutto – dalla stessa controparte Agenzia delle Entrate; controparte con la quale lo studio ha da sempre instaurato rapporti, ancorché conflittuali, improntati alla massima trasparenza e collaborazione.
        </p>
    </section>

</article>