<!DOCTYPE html>
<html lang="it" data-ng-app="faustApp">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}} | {{site.title}}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{assets}}/css/app.min.css">

  </head>
  <body class="bg-grey" data-ng-controller="mainController">

    {{> body }}

  <script src="{{assets}}/js/app.js"></script>
  </body>
</html>
