<!DOCTYPE html>
<html lang="it" data-ng-app="faustApp">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{{title}} | {{site.title}}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{assets}}/css/app.min.css">

    <!-- Favicon, Meta & other stuff -->
        <link rel="shortcut icon" href="assets/favicons/favicon.ico">

        <!-- Facebook Meta Tags -->
        {{!-- <meta property="og:title" content="Studio Faustini">
        <meta property="og:image" content="http://2014.fromthefront.it/images/share-6fcf291f.jpg">
        <meta property="og:site_name" content="Studio Faustini">
        <meta property="og:description" content="From the Front and the Temple of DOM | September 18th - 19th, 2014 Bologna, Italy">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://2014.fromthefront.it/">
        <meta property="article:publisher" content="https://www.facebook.com/fromthefront">


        <!-- SEO meta -->
        <meta name="description" content="From the Front and the Temple of DOM | September 18th - 19th, 2014 Bologna, Italy">
        <meta name="keywords" content="Front-End, frontend, conference, bologna, fromthefront">
        <link rel="canonical" href="http://2014.fromthefront.it/"> --}}

  </head>
  <body class="bg-grey" data-ng-controller="mainController">

    {{> body }}

  <script src="{{assets}}/js/app.js"></script>
  </body>
</html>
