
@keyframes fadeIn {
    from    { opacity:0; }
    to      { opacity:1 }
}

@keyframes fadeOut {
    from    { opacity:1; }
    to      { opacity:0; }
}



.ng-enter { 
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    z-index: 8888; 
}
.ng-leave { 
    animation-name: fadeOut;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    z-index: 888; 
}

.page-home.ng-enter { 
        animation-delay:0;
    }