@mixin center-el() {
    margin-left: auto;
    margin-right:auto;
    float:none !important;
}

// headings
@mixin headings($from: 1, $to: 6){
    @for $i from $from through $to{
      h#{$i}{
        @content
      }
    }
}
// hide
%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

// cleafix 
%clearfix {
  *zoom: 1;
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}
// position
@mixin position($position, $args) {
    position: $position;
    $offsets: top right bottom left;

    @each $o in $offsets {
        $i: index($args, $o);

        @if $i 
        and $i + 1 <= length($args) 
        and type-of( nth($args, $i + 1) ) == number {
            #{$o}: nth($args, $i + 1);
        }
    }
}